.menu {
    background-color: #122538;
}

.nav_link {
    color: white;
    border-bottom: 1px solid transparent;
    font-size: .9rem;

    display: block;
    padding: .1rem .3rem;
    margin: 0 .3rem;

    &:hover {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid white;
    }
}

.login {
    @extend .nav_link;
    border-bottom: 1px dotted white;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid white;
    }
}

.logout {
    @extend .nav_link;

    &:hover {
        text-decoration: none;
        border-bottom: 1px dotted white;
    }
}