.nav_item {
    padding: .3rem 0;
    border-bottom: 1px solid #344453;

    &:hover {
        background-color: #122538;
    }  
    &:last-child {
        border-bottom: 1px solid transparent;
    }
}

.nav_link {
    color: white;
    transition: all .2s ease-in-out;

    display: block;
    position: relative;

    &:hover {
        color: #dcdcdc;
    }
}

.icon {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.value {
    margin-left: 1.9rem;
}