.auth {
    width: 400px;

    display: block;
    margin: 0 auto;
}

.title {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #6c757d;
}

.links a:hover {
    color: #585e63;
}